doctype html
html
  head
    != partial("_partials/head")
    if css && css.length
      each stylesheet in css
        link(rel='stylesheet', href='#{baseUrl}/#{stylesheet}.css')
    != partial("_partials/favicon")

  body
    != partial("_partials/banner")
    != yield
    if js && js.length
      each script in js
        script(src='#{baseUrl}/#{script}.js')
