header.banner
    h1 Clayton A Davis

a.nav-button
      span.menu-button
            svg.icon-bars
                use(xlink:href="#icon-bars")

nav.icon-list.grid-item
    ul
        each tile in tiles
            li
                a(href="#" + tile.title.toLowerCase())
                    = tile.title

main.tile-grid
    each tile in tiles
        section.grid-item(id=tile.title.toLowerCase())
            h2.title
                = tile.title
            .body
                != partial(tile.template)

script(src="assets/nav.js")
