nav.icon-list.grid-item
    ul
        each tile in tiles
            li
                a(href="#" + tile.title)
                    = tile.title

.tile-grid
    each tile in tiles
        .grid-item(id=tile.title)
            h3.title
                = tile.title
            .body
                != partial(tile.template)
