p Pythonaut and Informatics PhD candidate at 
  a(href="//www.soic.indiana.edu/")
    | IU School of Informatics and Computing 
  | and 
  a(href="//cnets.indiana.edu")
    | Center for Complex Networks and Systems Research
  | .
p Graduate research assistant at 
  a(href="//kinseyinstitute.org/") The Kinsey Institute for research in Sex,
    | Gender, and Reproduction
  | .
p Likes bicycles, coffee, tacos, free software, the Python programming
  | language, and the Oxford comma.

p Currently living in Indianapolis, IN. Previously I've lived in San Francisco,
  | CA; Austin, TX; Bloomington, IN; Kirksville, MO; and St. Louis, MO.
