p Pythonaut and Informatics PhD candidate at 
  a(href="//www.sice.indiana.edu/")
    | IU School of Informatics, Computing, and Engineering 
  | and 
  a(href="//cnets.indiana.edu")
    | Center for Complex Networks and Systems Research
  | .
p Likes bicycles, coffee, tacos, free software, the Python programming
  | language, and the Oxford comma.
