p Informatics PhD candidate at 
  a(href="//www.soic.indiana.edu/")
    | Indiana University School of Informatics and Computing
  | .
p Likes bicycles, coffee, tacos, and the Oxford comma. Loathes bad typography.
