p I'm Clayton and I build data-driven applications with Python and web
  | technologies.
p You may know me from some of my
  = ' '
  a(href="#Projects") projects
  | , or perhaps by the book I co-authored:
p
  a(href="https://github.com/CambridgeUniversityPress/FirstCourseNetworkScience")
    | A First Course in Network Science
  |, published by Cambridge University Press, is available from
  = ' '
  a(href="https://www.amazon.com/First-Course-Network-Science/dp/1108471137")
    | Amazon
  = ' '
  | and other fine booksellers.

h4
  a(href="cv.pdf") My curriculum vitae
