ul.icon-list
    li
        a(href="//twitter.com/clayadavis")
            i.fa.fa-fw.fa-2x.fa-twitter
            span Twitter: @clayadavis
    li
        a(href="//github.com/clayadavis")
            i.fa.fa-fw.fa-2x.fa-github
            span GitHub: clayadavis
    li
        a(href="//www.linkedin.com/in/clayadavis")
            i.fa.fa-fw.fa-2x.fa-linkedin-square
            span LinkedIn
    li
        a(href="//indiana.academia.edu/ClaytonDavis")
            i.fa.fa-fw.fa-2x.fa-university
            span Academia.edu
    li
        a(href="//www.mendeley.com/profiles/clayton-davis/")
            i.fa.fa-fw.fa-2x.fa-share-alt
            span Mendeley
    li
        a(href="//www.zotero.org/clayadavis")
            i.fa.fa-fw.fa-2x.fa-file-pdf-o
            span Zotero
    li
        div
            i.fa.fa-fw.fa-2x.fa-at
            span Email: cad at this domain
