ul.icon-list
  mixin contactLink(contact)
    - var prefix = "icon-", iconClass = prefix + contact.icon;
    svg(class=iconClass)
      use(xlink:href='#' + iconClass)
    = contact.desc
  each contact in contacts
    li
      if contact.link
        a.contact(href=contact.link)
          +contactLink(contact)
      else 
        span.contact
          +contactLink(contact)
