h4 Current
ul.fake-dl
    li PhD Informatics
        p Indiana University School of Informatics and Computing, Bloomington, IN

h4 Completed
ul.fake-dl
    li MA Mathematics
        p Indiana University, Bloomington, IN
    li BS Mathematics
        p Truman State University, Kirksville, MO
