ul.dl
    li PhD Candidate
        p Indiana University, Bloomington, IN
    li MA Mathematics
        p Indiana University, Bloomington, IN
    li BS Mathematics
        p Truman State University, Kirksville, MO
