ul.fake-dl
  li
    a(href="//botometer.iuni.iu.edu") Botometer&#174; (formerly BotOrNot)
    p scores a Twitter account based on how likely the account is to be a bot.
  li
    a(href="//truthy.indiana.edu") Observatory on Social Media (OSoMe)
    p explore how people spread ideas through online social networks.
  li
    a(href="//kinseyreporter.org") Kinsey Reporter
    p global mobile survey platform to share and explore anonymous
      | data about sex.
