h4
    a(href="//kinseyreporter.org") Kinsey Reporter
p With 
    a(href="//kinseyinstitute.org") the Kinsey Institute
    
h4
    a(href="//truthy.indiana.edu") Observatory on Social Media (OSoMe)
p With 
    a(href="//iuni.iu.edu") IU Network Science Institute 
    | and  the 
    a(href="//cnets.indiana.edu")
        | Center for Complex Networks and Systems Research
