h4
    a(href="//kinseyreporter.org") Kinsey Reporter
p With 
    a(href="//kinseyinstitute.org") the Kinsey Institute
    
h4
    a(href="//truthy.indiana.edu") Truthy
p With 
    a(href="//cnets.indiana.edu")
        | the Center for Complex Networks and Systems Research
