ul.fake-dl
    li S&P Global Ratings
        p Data Scientist
        P New York, NY

    li DataPad, Inc.
        p Full-stack development intern
        p Summer 2014, San Francisco, CA 

    li Continuum Analytics
        p Development intern
        p Summer 2013, Austin, TX
